.word-pair {
    display: flex;
    flex-direction: column;
    color: var(--gray-alpha-200);
    flex: 1;
    padding: 10px 20px;
}

.word-pair > * + * {
    margin-top: 10px;
}

.word-pair > .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    flex: 1;
    box-sizing: border-box; /* Add this */
    overflow: hidden; /* Prevent overflow */
}

.word-pair > .row > * {
    flex: 1;
}

.word-pair .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.word-pair.active {
    color: var(--foreground);
}

.word-pair.checking.correct {
    background-color: var(--green-background);
    color: var(--green-text);
}

.word-pair.checking:not(.correct) {
    background-color: var(--red-background);
    color: var(--red-text);
}

.word-pair h2 {
    margin: 0;
}
